@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu/Ubuntu-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu/Ubuntu-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu/Ubuntu-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu/Ubuntu-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu/Ubuntu-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu/Ubuntu-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

* {
    font-family: Ubuntu, sans-serif;
    font-weight: 500;
}

p {
    font-weight: normal;
}

body {
    min-width: 320px;
    color: rgb(37, 37, 37);
}

#header {
    padding: 0 10px;
}

button {
    background: transparent;
    border: 0;
}

*:focus {
    outline: 0 !important;
    border: 0 !important;
    box-shadow: unset !important;
}

button, a {
    cursor: pointer;
}

a:hover {
    color: #0056b3 !important;
    text-decoration: none;
}

.container-fluid {
    max-width: 1300px;
    padding: 0 50px;
    position: relative;
}

header {
    width: 100%;
    background-color: #efebe3;
}

#catnav, #menu {
    display: flex
}

#catnav {
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

#menu {
    justify-content: space-around;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

ul {
    list-style: none
}

#menu .menu-item {
    margin: 0 26px;
}

#menu .menu-item a {
    font-weight: bold;
    font-size: 12px;
    color: #0e0b0b;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.dropdown-toggle:after {
    border: 0;
    background: url("../assets/arrow_down_gray.svg") center center no-repeat;
    width: 10px;
    height: 5px;
    vertical-align: middle;
    position: relative;
    left: 3px;
}

#lang-dropdown.dropdown-toggle {
    font-weight: bold;
    font-size: 12px;
    color: #0e0b0b;
    background: transparent;
    border: 0;
}

#infonav, #infonav #left, #infonav #right, #infonav #phone {
    display: flex;
    align-items: center;
}

#infonav {
    justify-content: space-between;
    padding: 12px 0;
}

.btn {
    background-color: #1c3997;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 40px;
    padding: 0 50px;
    border-radius: 21px;
}

a.btn {
    background-color: transparent;
    color: #1c3997;
    border: 1px solid #1c3997;
    position: relative;
}

button.btn:after {
    content: "";
    position: absolute;
    background: url(../assets/arrow_down_white.svg) center center no-repeat;
    border: 0;
    width: 10px;
    height: 5px;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 20px;
    left: unset;
}

button.btn:before {
    content: "";
    position: absolute;
    background: url(../assets/burger_green.svg) center center no-repeat;
    border: 0;
    width: 13px;
    height: 8px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 22px;
}

hr {
    border-color: #bdbdbd;
    margin-top: 40px;
    margin-bottom: 0;
}

#search button, #search input {
    background: transparent;
    border: 0;
    padding: 0 12px;
}

#search {
    border-bottom: 1px solid #c0c0c0;
    margin-left: 30px;
}

#search input {
    width: 155px;
}

#search input::placeholder {
    color: #000;
    margin-bottom: 15px;
}

#phone span {
    margin-left: 10px;
    font-weight: bold;
}

#right > * {
    margin-left: 25px;
}

#vr {
    width: 1px;
    border-left: 1px solid #c0c0bf;
    height: 20px;
}

#cart button {
    position: relative;
    padding: 0;
}

#cart button:after {
    background: unset;
    width: 0;
    height: 0;
}

#right {
    justify-content: flex-end;
}

#cart #cart-total {
    position: absolute;
    display: block;
    left: -7px;
    bottom: -7px;
    color: #fff;
    background: #1c3997;
    width: 18px;
    height: 18px;
    font-size: 10px;
    line-height: 18px;
    border-radius: 50%;
}

#cart .show #cart-total {
    display: none;
}

.head, .head ul {
    display: flex;
    align-items: center;
}

.head {
    justify-content: space-between;
    margin-bottom: 30px;
}

.head ul {
    justify-content: space-around;
    width: 46%;
}

h2 {
    font-size: 34px;
    font-weight: 500;
}

.head h2 {
    line-height: 1.2;
    margin-right: 60px;
}

.head a {
    font-weight: bold;
    color: #8f8484;
    font-size: 12px;
    text-transform: uppercase;
    transition: color 0.25s linear;
}

.head a.active, a.link {
    color: #1c3997;
    border-bottom: 1px solid #1c3997 !important;
    padding-bottom: 7px;
}

a.link {
    font-weight: normal;
    font-size: 16px;
    text-transform: capitalize;
    padding: 0;
}

.flow-buttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    right: 15px;
}

.flow-buttons button {
    margin: 10px 0;
}

.product-thumb {
    padding: 36px 10px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

}

.product-thumb a:not(.btn) {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #252525;
    font-weight: bold;
}

.product-thumb .price {
    text-align: center;
    font-size: 22px;
    color: #1c3997;
}

.product-thumb .button-group {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.product-thumb .btn {
    padding: 0 20px;
}

.button-group .form-control {
    border: 0;
    width: 15px;
    padding: 0;
    height: auto;
}

.caption {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

h4 {
    font-size: 16px;
}

.caption h4 {
    margin-bottom: 25px;
    width: 100%;
}

.old_price {
    color: #8f8484;
    text-decoration: line-through;
}

.input-group-spinner * {
    color: #8f8484;
}

.input-group-spinner button:hover strong {
    color: #fff;
}

#message {
    margin: auto auto 45px auto;
    max-width: 840px;
    width: 100%;
    padding: 40px;
    border-top: 1px solid #9f9696;
    border-bottom: 1px solid #9f9696;
    position: relative;
}

#message:after, #message:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    left: 95px;
    top: -28px;
    border-bottom-color: #fff;
    border-width: 15px;
    border-left: 0;
}

#message:before {
    top: -31px;
    border-bottom-color: #9f9696;
    left: 94px
}

#message p {
    line-height: 1.625;
}

p strong {
    color: #1c3997;
    font-weight: bold;
}

.btn.grey {
    border-color: #8f8484;
    background-color: transparent;
    color: #8f8484;
}

a.btn.grey:before {
    content: "";
    position: absolute;
    background: url(../assets/burger_gray.svg) center center no-repeat;
    border: 0;
    width: 13px;
    height: 8px;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 22px;
}

.products {
    margin-bottom: 15px;
}

.news {
    padding: 50px
}

.news .head {
    justify-content: flex-start;
}

time {
    color: #8f8484;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.625;
}

.subscribe {
    background-color: #efebe3;
    padding: 37px 0;
}

.subscribe .text h4 {
    margin-bottom: 20px;
}

.line {
    display: flex;
    align-items: center;
}

form .btn:after, form .btn:before {
    display: none;
}

form {
    display: flex;
    align-items: center;
}

form.e-mail_input input {
    line-height: 40px;
    border-radius: 21px;
    border: 1px solid #8f8484;
    padding: 0 25px;
    margin-right: -35px;
    width: 100%;
    overflow: hidden;
}

form.e-mail_input .btn {
    padding: 0 25px;
}

.services h2 {
    line-height: 1.471;
}

.services .line img {
    margin-right: 25px
}

.services p {
    line-height: 1.625;
}

.services #certificates {
    margin-top: 80px;
    margin-bottom: 80px;
}

.services #certificates span {
    color: rgb(143, 132, 132);
    line-height: 1.625;
    font-weight: 400;
    margin-left: 20px;
}

.services #warranties {
    margin-top: 66px;
    margin-bottom: 66px;
}

.companies {
    padding-top: 10px;
    padding-bottom: 10px;
}

.companies a {
    width: 100%;
}

.companies img {
    -webkit-filter: grayscale(100%);
    -ms-filter: gray(100%);
    filter: grayscale(100%);
    opacity: 0.66;
    margin: auto;
    transition: all 0.25s linear;
}

.companies img:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    opacity: 1;
}

.companies .slick-track {
    display: flex;
    align-items: center;
}

.cooperate {
    margin-top: 120px;
}

.cooperate .heading {
    text-align: center;
}

.cooperate .heading h2 {
    line-height: 1.471;
    margin-bottom: 20px;
}

.cooperate .heading p {
    font-weight: 500;
    line-height: 1.875;
}

.cooperate .contact_us, .cooperate .heading {
    margin: 50px auto;
}

h3 {
    font-size: 22px;
}

.contact_us p#call-us {
    line-height: 1.864;
    padding-right: 45px;
    margin-bottom: 35px;
}

.contact_us h3 {
    margin-bottom: 35px;
}

.contact_us .address p, .contact_us .phone p, .contact_us .mail p a {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 40px;
    color: #252525;
}

.contact_us .address p:before, .contact_us .phone p:before, .contact_us .mail p:before {
    content: "";
    background: url("../img/address.png") no-repeat center;
    width: 23px;
    height: 28px;
    position: absolute;
    left: -20px;
}

.contact_us .phone p:before {
    background-image: url("../assets/tel_blue.svg");
    width: 24px;
    height: 24px;
}

.contact_us .mail p:before {
    background-image: url("../assets/mail.svg");
    width: 27px;
    height: 17px;
    top: 9px;
}

.footer-subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-subscribe form {
    padding: 60px 0;
    max-width: 530px;
    width: 100%;
}

#footer-menus {
    display: flex;
    justify-content: space-between;
}

#footer-menus ul {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-gap:16px;
    -moz-column-gap:16px;
    column-gap:16px;
}

#footer-menus ul li {
    margin-bottom: 30px;
    margin-right: 40px;
    -moz-page-break-inside: avoid;
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    -o-column-break-inside: avoid;
    -ms-column-break-inside: avoid;
    column-break-inside: avoid;
    page-break-inside: avoid;
    line-height: 20px;
}

#footer-menus ul li a {
    text-transform: capitalize;
    color: #252525;
    font-weight: bold;
}

footer .phone, footer .timetable, footer .copyright, footer .follow-us {
    text-align: right;
}
#footer-menus ul li{
    margin-right: 0px;
}
footer .phone {
    margin-bottom: 30px;
    margin-top: 65px;
}

footer .phone:before {
    content: "";
    background: url("../assets/tel_blue.svg") no-repeat center;
    width: 24px;
    height: 24px;
    position: relative;
    display: inline-block;
    left: -20px;
    top: 5px;
}

.timetable {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.timetable li {
    display: inline-flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.copyright {
    margin: 65px 0;
    line-height: 1.625;
}

.follow-us {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.follow-us span {
    font-size: 16px;
    color: rgb(143, 132, 132);
}

footer {
    padding-bottom: 80px !important;
    border-top: 1px solid #dfdfdf !important;
}

#footer-menus .menu {
    /*margin-right: -40px;*/
    position: relative;
}

#footer-menus .menu:before {
    content: "";
    background: url("../assets/burger_black.svg") no-repeat top center;
    width: 12px;
    height: 100%;
    position: absolute;
    left: -30px;
    top: 5px;
}

/* products */

.header-shadow {
    box-shadow: 0 0 23px 5px rgba(26, 26, 25, 0.07);
}

.breadcrumb {
    background-color: white;
    margin-bottom: 0px;
    padding: 0px;
}

.breadcrumb li a {
    font-size: 14px;
    color: #8F8484
}

.breadcrumb li span {
    display: inline-block;
    background: url("../img/arrow.png") no-repeat top center;
    width: 6px;
    height: 11px;
    margin-left: 10px;
    margin-right: 10px;
}

#item-card {
    display: grid;
    grid-template-columns: 7fr 5fr;
    grid-auto-rows: auto;

}

.item-description {
    grid-column-start: 2;
    display: flex;
    margin-top: -10px;
}

.item-gallery {
    grid-row-start: 2;
    grid-row-end: 8;
    display: flex;
}

.gallery-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 420px;
}

.gallery-list li {

    margin: 0 10px 10px;
    border: #DFDFDF solid 1px;
}

.gallery-list li {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    transition: all 0.2s ease;
}

.gallery-list li img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gallery-list li[class="active"] {
    border-color: #193997;

}

.new-item-mark {
    position: absolute;
    background-image: url('../img/new_.png');
    width: 30px;
    height: 63px;
    top: 0px;
    right: 0;
}
.item-image{
    width: 100%;
    margin-right: 40px;
}
.item-image img {
    width: 100%;
    height: 420px;
    /*border: silver 1px solid;*/
    object-fit: contain;

}

#item-title {
    font-size: 42px;
    font-family: "Ubuntu";
    color: #252525;
    line-height: 1.2;
    margin-top: -10px;

}

.item-actions {
    margin-top: 45px;
    align-items: flex-start;
}

.item-actions .item-action:last-child {
    margin-right: 0px;
}

.item-action {
    display: flex;
    margin-right: 20px;
}

.item-action span {

    font-size: 12px;
    padding-left: 6px;
    padding-top: 4px;
    color: #8F8484;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    text-align: left;
}

.action-icon {
    display: inline-block;
    background-image: url("../assets/add_favorite.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    width: 18px;
    height: 18px;
}

.icon-add-favorite {
    background-image: url("../assets/add_favorite.svg");
}

.icon-add-compare {
    background-image: url("../assets/add_compare.svg");
}

.add-cart-btn {
    padding: 0 25px;
    margin-left: 14px;
    height: 48px;
    border-radius: 24px;
    background-color: #244ea8;
}

.no-before:before {
    content: none !important;
}

.no-before:after {
    content: none !important;
}

.old_price {
    font-size: 16px;
    color: #8f8484;
    text-decoration: line-through;
    margin-right: 10px;
}

.old_price_valute {
    text-transform: uppercase;
    /* Text style for "" */
    font-size: 22px;
    /* Text style for "MDL" */
    font-size: 12px;
}

.price_valute {
    text-transform: uppercase;
    /* Text style for "" */
    font-size: 22px;
    /* Text style for "MDL" */
    font-size: 14px;
}

.cart-options .price {
    font-size: 30px;
    color: #1c3997;
}

#seller-garanties {
    margin-top: 30px;
    padding-top: 11px;
    padding-bottom: 11px;
    border-top: rgb(223, 223, 223) solid 1px;
    border-bottom: rgb(223, 223, 223) solid 1px;
    display: block;
    /*flex-wrap: wrap;*/
}

.seller-garanty {
    display: inline-block;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: 26px;
}

.seller-garanty span {
    margin-left: 15px;
    font-size: 14px;

    color: #252525;

}

.item-code {
    margin-left: 40px;
    font-size: 14px;
}

.nav-item {
    padding: 20px;
    letter-spacing: 1.3px;

}

.nav-tabs .nav-link.active {
    border-color: #1c3997 !important;
}

.nav-tabs a {

    font-size: 12px;
    font-family: "Ubuntu";
    color: #1C3997;
    font-weight: bold;
    text-transform: uppercase;
}

.price-wrapper {
    flex-wrap: wrap;
    align-items: center;
    flex-basis: auto
}
.product-thumb .price-wrapper{
    justify-content: center;
}
.input-group-spinner {
    display: flex;
    flex-wrap: nowrap;
}

.cart-wrapper {
    margin-left: 30px;
    display: flex;
}
.product-thumb .cart-wrapper{
    margin-left: 0px;
    justify-content: center;
    display: flex;
}

.product-thumb .cart-wrapper .btn{
    margin-left: 12px;
}
#item-price-block {
    margin-top: 30px;
}

.tabs {
    margin-top: 50px;
}

.tab_content {
    height: auto;

    padding: 51px 66px 0 20px;
    margin-bottom: 51px;
    transition: opacity  3s linear;

}

.hidden {
    display: none;
}

.visuallyhidden {
    opacity: 0;
}

.tab_content p {
    color: #313131;;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.tab_content ul li {
    color: #313131;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
}

.tab_content h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;

}

.tab_content th {
    font-size: 18px;
    font-weight: 700;
}

.tab_content ul li {
    position: relative;
    margin-bottom: 10px;
    line-height: 26px;

}

.tab_content ul {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 58px;
}

.tab_content ul li:before {
    display: block;
    content: "";
    position: absolute;
    background: url("../img/liststyle.png") no-repeat center;
    left: -20px;
    width: 7px;
    height: 7px;
    top: 10px;
}

.tab_content table {
    border: none;
}

.tab_characteristics {
    padding-top: 13px;
    padding-left: 0px;
    padding-right: 10px;
}

.tab_content th {
    padding: 47px 22px 32px 22px;
}

.tab_content tr {
    height: 46px;
}

.related-items, .similar-items {
    display: block;
    float: left;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}

.related-items .product-layout {
    float: left;
    width: calc(100% / 3);

}

.thumb-item-title {
    justify-self: stretch;
}

.tab_content td {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    color: #252525;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.tab_content tbody tr:nth-child(2n+1) {
    background-color: #f4f5f9;
}

.tab_content h2 {
    margin-bottom: 35px;
}

.related-items {
    width: 75%;
    float: left;

}

.related-items .btn, .similar-items .btn {
    margin-bottom: 0px !important;
}

.similar-items {
    display: block;
    width: 100%;

    position: relative;
}

.similar-items .product-layout {
    float: left;
}

.image img {
    max-height: 180px;
}

.tab-related-items {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 36px;
}

h2 {
    color: #252525;
    font-size: 34px;
    font-weight: 500;
}

.tabs {
    margin-bottom: 70px;
}

.video-container {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}

.video-container p {
    margin-left: 25px;
    max-width: 200px
}

.video-container .video {
    width: 327px;
    height: 162px;
    position: relative;
}
.video-filter{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    opacity:0.8;
}
.video iframe {
    width: 100%;
    height: 100%;
}

.tab_content .downloads {
    margin-top: 25px;
    margin-bottom: 10px;

}


.downloads div{
    margin-bottom: 10px;
}

.downloads a{
    color: #252525;
    line-height: 26px;
    display: flex;
    align-items: center;
}
.downloads a img{

    margin-right: 16px;
}

i.download{
    background: url("../img/download.png") top left no-repeat;
    width: 43px;
    height: 43px;
}

.tab_content .downloads-list li:before {
    display: none;
}
.similar-items{
    margin-bottom: 44px;
}
#footer-menus .menu-about{
    width: 43%;
}
#footer-menus .menu{
    width: 57%;
}
.footer-subscribe .text{
    line-height: 20px;

}
.footer-subscribe img{
    position: relative;
    top:-5px;
}
/*adaptive header*/

.line-break {
    width: 100%;
}
#header_adaptive{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 0 10px;
}
/* adaptive geader*/

 #header_adaptive #left, #header_adaptive #right, #infonav #header_adaptive {
    display: flex;
    align-items: center;
}
#infonav{
    width: 100%;
}
#menu .menu-item{
    margin: 0 20px;

}

@media screen and (max-width: 1200px) {
    #item-card {
        grid-template-columns: 6fr 6fr;
    }
    h2{
        font-size: 30px;
    }
    .item-gallery {
        flex-direction: column;
        grid-row-start: 1;
        margin-top: 45px;
        margin-right: 38px;
    }

    .gallery-list {
        order: 2;
        flex-direction: row;
        justify-content: center;
        margin-top: 14px;
        margin-bottom: 14px;
    }

    .gallery-list li {
        margin: 0 6px;
    }

    .new-item-mark {
        top: 50px;
    }

    #item-title {
        font-size: 34px;
    }

    .tab_content {
        padding: 42px 26px 0 20px;
        margin-bottom: 42px;
    }
    .tab_characteristics{
        padding-top: 13px;
    }
    .related-items {
        width: 100%;
    }
    .related-items-section h2 {
        text-align: center;
    }
    .similar-items{
        margin-bottom: 36px;
    }
    .tabs{
        margin-bottom: 50px;
    }
    #footer-menus .menu-about{
        width: 50%;
    }
    #footer-menus .menu{
        width: 50%;
    }

    #menu .menu-item{
        margin: 0 18px;

    }
    #infonav #right #phone{
        display: none;
    }
    #search input{
        width: 0px;
        padding: 0px;

    }
    #search {
        border-bottom: none;
        transition: width 0.5s ease;
    }

}
#search{
    flex-wrap: nowrap;
}
#search input{

    transition: width 1s ease;
}


@media screen and (min-width: 1200px) {
    .similar-items, .related-items {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media screen and (max-width: 991px) {
    .item-image img {
        height: 325px;
    }

    .container-fluid {
        padding: 0 35px;
    }

    .cart-options .price {
        font-size: 26px;
    }

    #item-title {
        font-size: 30px;
    }

    .container-fluid {
        padding: 0 33px;
    }

    .item-gallery {
        margin-right: 17px;
    }

    .item-description {
        margin-left: 17px;
    }

    .item-actions {
        margin-top: 24px;
    }

    .tab_content {
        padding: 42px 20px 0 20px;
        margin-bottom: 42px;
    }
    #footer-menus .menu-about{
        width: 45%;
    }
    #footer-menus .menu{
        width: 55%;
    }
}

.image {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;

}

@media screen and (max-width: 1200px) and (min-width: 768px){
    .contacts{
        display: flex;
        align-items: baseline;
    }

    .contacts .phone,.contacts .copyright{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .contacts .phone{
        width: 25% ;
        text-align: left;
        margin-left: 0px;
        padding-left: 24px;
        padding-right: 8px

    }
    .contacts .timetable{
        justify-content: flex-start;
        width: 25%;
        padding-left: 8px;
        /*margin-right: -8px;*/
    }
    .contacts .timetable li{
        justify-content: flex-start;
    }
    .contacts .copyright{
        width: 25%;
        text-align: left;
        padding-right: 8px;
    }
    .contacts .follow-us{
        justify-content: flex-start;
        width: 25%;
        padding-left: 8px;
    }
}
@media screen and (max-width: 991px) and (min-width: 768px){
    .contacts .phone,.contacts .timetable {
        width: 22.5%;
    }

    .contacts .copyright,.contacts .follow-us{
        width:  27.5%;
    }
}
@media screen and (max-width: 767px) {
    .tabs{
        margin-bottom: 40px;
    }
    .video-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: 33px;
    }
    h2{
        font-size: 26px;
    }
    .video-container p {
        margin-left: 0px;
        margin-bottom: 0px;
        max-width: none;

    }

    .video-container .video {
        width: 100%;
        height: 100%;
        margin-bottom: 17px;
    }

    .item-image img {
        height: 250px;
    }

    #item-card {
        grid-template-columns: 1fr;
    }

    .item-gallery {
        grid-row-start: 4;
        grid-row-end: 4;
        margin-right: 0px;
        margin-top: 24px;
    }

    #item-title {
        font-size: 30px;
    }

    .item-description {
        grid-column-start: 1;
        justify-content: center;
        text-align: center;
    }

    #item-price-block {
        grid-row-start: 3;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 14px;
    }

    #item-card .price-wrapper,#item-card .cart-wrapper {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .container-fluid {
        padding: 0 20px;
    }

    .item-description {
        margin-left: 0px;
    }

    .tabs {
        margin-top: 30px;
    }

    .tab_content p, .tab_content ul li {
        font-size: 14px;
    }

    .tab_content {
        padding: 10px 20px 22px 20px;
        margin-bottom: 0px;
    }

    .tab_content th {
        padding-left: 0px;
    }

    .tab_content th:first-child {
        padding-top: 25px;
    }

    .tab-related-items {
        padding-left: 25px;
        padding-right: 25px;
    }

    .tab-related-items {
        margin-bottom: 0px;
    }
    .tab_content h2{
        font-size: 16px;
        margin-bottom: 25px;
    }
    .similar-items {
        margin-bottom: 16px;
    }
    #footer-menus .menu-about{
        width: 50%;
    }
    #footer-menus .menu{
        width: 55%;
    }
    #footer-menus {
        flex-direction: column;
        align-items: center;
    }
    #footer-menus ul{
        column-count: 1;
    }
    #footer-menus ul li{
        margin-right: 0px;
        text-align: center;
        margin-right: 0px;
        line-height: 41px;
        margin-bottom: 0px;
    }
    .footer-subscribe{
        flex-direction: column;
        justify-content: center;
    }

    .footer-subscribe .label-block {
        padding-top: 37px;
    }
    .footer-subscribe .e-mail_input{
        padding: 20px 0 44px 0;
    }
    #footer-menus .menu{
        margin-top: 79px;
    }
    #footer-menus .menu:before{
        top:-26px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .contacts .phone,.contacts .copyright{
        text-align: center;
    }
    .contacts .copyright{
        margin-top: 36px;
        margin-bottom: 46px;
    }
    .contacts .timetable li,.contacts .follow-us{
        justify-content: center;
    }
    footer {
        padding-bottom: 46px !important;
    }
    #footer-menus .menu,#footer-menus .menu-about{
        width: 100%;
    }
}


@media screen and  (min-width: 1200px) and (max-width: 1300px) {

    .container-fluid {
        padding: 0 calc((100% - 1200px) / 2);
    }

}